*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: #0D0D0D;

}

header img{
  width: 126px;
  height: 50px;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  position: relative;
  padding-top: 50px;
  gap: 10px;
  width: 100%;

}

#input{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* align-items: center; */

  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

#input input{
  background-color: #0D0D0D;
  border: rgb(255, 200, 60) 1px solid;
  border-radius: 5px;
  padding: 8px;
  width: 450px;
  outline: none;
  font-size: 20px;
  color: white;
}



#input button{
  background-color: #0D0D0D;
  border: rgb(255, 200, 60) 1px solid;
  color: white;
  padding: 0 10px;
  font-size: 20px;
  border-radius: 5px;
  text-transform: capitalize;
}

#input button i{
  font-size: 16px;
}

button{
  cursor: pointer;
}

.meta{
  max-width: 700px;
  width: 100%;
  border-bottom: 1px solid rgb(202, 190, 190);
  
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

button.add-todo{
  background-color: #0D0D0D;
  border: rgb(255, 200, 60) 1px solid;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  text-transform: capitalize;
}

button.add-todo i{
  font-weight: 300;
}

.meta .left{
  color: #4EA8DE;
  ;
}

.meta .right{
  color: rgb(174, 146, 211);
  ;
}


#todo-data{
  max-height: 0;
  transition: max-height 0.5s linear,opacity 0.5s linear,padding 0.5s linear;
  opacity: 0;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: #4EA8DE;
  font-size: 20px;

}

.radio-heading{
  align-self: flex-start;
  color: bisque;
}

#todo-data.show{
  max-height: 1000px;
 display: flex;

 padding: 10px; 
 /* border: 1px solid rgb(255, 200, 60);  */
  /*  */
  width: 100%;
  opacity: 1;
  transition: max-height 0.5s linear, opacity 0.5s linear, padding 0.5s linear;
}

#todo-data textarea, #todo-data input[type="date"]{
  background-color: transparent;
  border: 1px solid rgb(255, 200, 60); 
  border-radius: 5px;
  padding: 10px; 
  font-size: 20px;
  outline: none;
  overflow: auto;
  color: #4EA8DE;
  margin: 10px 0px;
  
  width: 100%;
  
}

 #items{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;

}

#todo-data input[type="date"]{
 width: auto;
}

#todo-data #radios, #todo-data #status{
  align-self: stretch;
  display: flex;
  justify-content: space-around;
}

.task{
  width: 100%;
  max-width: 700px;
  border: 1px solid rgb(255, 200, 60); 
  padding: 10px;
  border-radius: 5px;
  color: #4EA8DE;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;

}

.task .deadline{
  color: red;
}

.task .priority{
  color: orange;
}

.task .first{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.task .first button{
  background-color: transparent;
  color: white;
  border: none;
  margin: 0px 10px;
  outline: none;
  font-size: 20px;
}